@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap');
@import url('./font.css');

* {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    box-sizing: border-box;
    transition: all 0.2s ease;

    /* border: 1px solid red; */
}

body {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-size: var(--font-size-body);
}

h1, h2, p, h4, button, input {
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: 800;
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: 600;
}

p {
    font-size: var(--font-size-p);
    font-weight: 600;
}

.top {
    width: 100vw;
    height: 20vh;
    padding: 25px;

    display: flex;
    align-items: center;
    justify-content:space-between;
}

#account {
    width: fit-content;
    height: fit-content;
    margin-left: 8%;
}

.quotesContainer {
    width: 30%;
    border: 1px solid white;
    color: black;
    background-color: white;
    border-radius: 7.5px;
    padding: 5px;
}

.quotesOrigin {
    font-size: var(--font-size-quote);
    text-align: right;
    color: inherit;
    background-color: inherit;
}

.main {
    height: 75vh;
    display: flex;
}

.events {
    width: 50%;
    padding: 25px;
    padding-left: 35px;
    display: flex;
    flex-direction: column;
}

#inputEventsEntryName {
    font-size: var(--font-size-input);
    outline: none;
}

#inputEventsEntryName:focus {
    font-size: var(--font-size-input-focus);
    outline: none;
    border-right: 1px solid white;
}

.eventsEntry {
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--font-size-p);
    margin-top: 15px;
}

.eventsItem {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 5px;
    padding-left: 5px;
   
    border: 2.5px solid white;
    border-right: none;
}

.eventsList {
    overflow: hidden;
}

.eventsLeft {
    border-radius: 8px 0 0 8px;
}

.eventButton {
    height: 100%;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-event-button);
    border: 2.5px solid white;
    border-radius: 0px 8px 8px 0px;
}

button {
    font-size: var(--font-size-event-button);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 0px 8px 8px 0px;
    text-align: center;

    border: none;
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.eventsEntryName {
    width: 50%;
}

.eventsEntryDL, .dpContainer {
    width: 45%;
    justify-content: center;
    display: flex;
    text-align: center;
}

.calendarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 25px;
    padding-left: 35px;
}

#CheckSVG {
    padding: 0;
    border: 1px solid white;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

#signIn {
    width: 100%;
    height: 100%;
    font-size: var(--font-size-signin);
    border: 1px solid white;
    border-radius: 0px;
    font-weight: 700;
}